.bottomNavBarButton {
	background-color: #FFFFFF;
	border: none;
	color: #929292;
	padding: 0px 0px 0px 0px; /*top-rigtt-bottom-left*/
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 4vw;
	margin: 0px 0px 0px 0px; /*top-rigtt-bottom-left*/
	cursor: pointer;
	font-family: Verdana, Geneva, sans-serif;
	width: 16vw;
	/* width: 20%; */
	/* position: absolute; */
	/* bottom: 10px; */
	/* left: 30px; */
	/* This is a single-line comment */
}




div.bottomNavBarParentDiv {
	width: 250px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
}

.bottomNavBarButtonSelected {
	color: red;
	/* font-weight: bold; */
}

.bottomNavBarButtonIcon {
	width: 5vw;
}

table{
	margin: 0px;
	/* border-collapse: collapse; */
	width: 100%;
	position: fixed;
	bottom: 0px;
	height: 100px;
	background-color: white;
}

th, td{
	/* border: 1px solid black; */
	text-align: center;
}