html, body {
    height: 100%;
	margin: 0px;
	color: #333333;
	background-color: #f0f4f7;
}
.main {
    height: 100%;
    width: 100%;
    display: table;
}
.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
	text-align: center;
}


.inputField {
	width: 90%;
	padding: 2% 0px 2% 2%; /*top-rigtt-bottom-left*/
	margin: 10px 0px 10px 0px; /*top-rigtt-bottom-left*/
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 12px;
	box-sizing: border-box;
	font-size: 6vw;
}


.buttonPrimary {
	width: 25%;
	background-color: #e74c3c;
	border: 3px solid #e74c3c;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 6vw;
	margin: 2% 2% 2% 2%; /*top-rigtt-bottom-left*/
	padding: 2% 3% 2% 3%; /*top-rigtt-bottom-left*/
	cursor: pointer;
	border-radius: 8px;
	font-family: Verdana, Geneva, sans-serif;
}

.buttonSecondary {
	width: 25%;
	background-color: white;
	border: 3px solid #e74c3c;
	color: #e74c3c;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 6vw;
	margin: 2% 2% 2% 2%; /*top-rigtt-bottom-left*/
	padding: 2% 3% 2% 3%; /*top-rigtt-bottom-left*/
	cursor: pointer;
	border-radius: 8px;
	font-family: Verdana, Geneva, sans-serif;
}


.logo {
	width: 30%;
	padding: 0px 0px 0px 0px; /*top-rigtt-bottom-left*/
	margin: 0px 0px 100px 0px; /*top-rigtt-bottom-left*/
}