body{
	margin: 0px;
	color: #333333;
	background-color: #f0f4f7;
}

.courseThumbnailImage{
	
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 90%;
	align-content: center;
	border-radius: 18px;
	padding: 0px 0px 0px 0px; /*top-rigtt-bottom-left*/
}

.courseThumbnailBox {
	text-align: center;
	padding: 0px 0px 50px 0px; /*top-rigtt-bottom-left*/
	margin: 0px 0px 0px 0px; /*top-rigtt-bottom-left*/
}

.courseTitle{
	font-family: Verdana, Geneva, sans-serif;
	/*font-weight: bold;*/
	font-size: 6vw;
	padding: 0px 0px 0px 10%; 
}

.courseThumbnailText{
	font-family: Verdana, Geneva, sans-serif;
	/*font-weight: bold;*/
	font-size: 4vw;
	text-align: left;
	padding: 0px 0px 0px 5%;  /*top-rigtt-bottom-left*/
	color: white;
	text-shadow: 2px 2px 8px #000000;
}



.container {
  position: relative;
  text-align: center;
}



.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 100%;
}

.top-left {
	position: absolute;
	top: 1%;
	left: 6%;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#avatar {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

#friends_list {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  padding-left: 2px;
  padding-right: 2px;
}

#friends_list_online {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  border: 3px solid #4CC790;
  margin-left: 2px;
  margin-right: 2px;
}

#friends_list_page {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-left: 30px;
  margin-right: 10px;
  vertical-align: middle
 
}

#friends_list_online_page {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 3px solid #4CC790;
  margin-left: 2px;
  margin-right: 2px;
}


.title {
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
    color: #3C4858;
    font-weight: 700;
}

.title_friends_list {
    padding-left: 30px;
    min-height: 32px;
    color: #3C4858;
    font-size: 38px;  
    font-weight: 700;
    vertical-align: middle;
    text-align: left;

}


input.largerCheckbox { 
            width: 40px; 
            height: 40px; 
        } 